{% extends 'admin2/base.html' %}

{% block tabs %}
    {{ select_tab('GERENCIAR') }}
{% endblock %}

{% block body %}
      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
      <section class="wrapper">

          		<div class="col-lg-12">
                  <h2><i class="fa fa-angle-right"></i> Pesquisa</h2>
                  <div class="form-panel">
                      <form class="form-horizontal style-form" method="get">

                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">Código</label>
                              <div class="col-sm-4">
                                  <input type="text" class="form-control">
                              </div>
                          </div>

                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">Nome</label>
                              <div class="col-sm-8">
                                  <input type="text" class="form-control">
                              </div>
                          </div>

                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">Tipo de Acesso</label>
                              <div class="col-sm-4">
                                   <select class="form-control">
                                   <option>Professor</option>
						           <option>Aluno</option>
						           <option>Recepção</option>
						           <option>Administração</option>
						           </select>
                              </div>
                          </div>

                          <div class="form-group">
                          <div class="col-sm-12">
						    <button type="button" class="col-sm-3 btn btn-primary">Adicionar</button>
                          </div>
                          </div>

                      </form>
                  </div>
          		</div><!-- col-lg-12-->


         </div><!-- / col 12 -->

      </section>
      </section>

{% endblock %}