{% extends 'admin2/base.html' %}

{% block body %}
      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
      <section class="wrapper">

        <div class="row">
          <div class="col-lg-12 main-chart">

            <div class="row mt">
                      <!-- PANELS -->
                      	<div class="col-md-4 col-sm-4 mb">
                      	    <a class="scrollto" href="#cadastrar">
							<div class="darkblue-panel pn">
                      			<div class="darkblue-header">
						  			<h5>CADASTRAR</h5>
                      			</div>
                      			<h1 class="mt"><i class="fa fa-user-plus fa-3x"></i></h1>
                      		</div><! -- /darkblue panel --
                      		</a>
                      	</div><!-- /col-md-4-->


                      	<div class="col-md-4 col-sm-4 mb">
                      	<a class="scrollto" href="#remover">
							<div class="darkblue-panel pn">
                      			<div class="darkblue-header">
						  			<h5>REMOVER</h5>
                      			</div>
                      			<h1 class="mt"><i class="fa fa-user-times fa-3x"></i></h1>
                      		</div><! -- /darkblue panel -->
                      		</a>
                      	</div><!-- /col-md-4 -->

						<div class="col-md-4 mb">
						<a class="scrollto" href="#alterar">
							<div class="darkblue-panel pn">
                      			<div class="darkblue-header">
						  			<h5>ALTERAR</h5>
                      			</div>
                      			<h1 class="mt"><i class="fa fa-user fa-3x"></i></h1>
                      		</div><! -- /darkblue panel -->
                      		</a>
						</div><!-- /col-md-4 -->
            </div>
        <section id="cadastrar">
		    <div class="row" style="top:60px;position: relative">

          		<div class="col-lg-12">
                  <h2><i class="fa fa-angle-right"></i> Cadastrar</h2>
                  <div class="form-panel">
                      <form class="form-horizontal style-form" method="get">

                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">Nome</label>
                              <div class="col-sm-8">
                                  <input type="text" class="form-control">
                              </div>
                          </div>

                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">Email</label>
                              <div class="col-sm-8">
                                  <input type="text" class="form-control">
                              </div>
                          </div>

                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">Usuario</label>
                              <div class="col-sm-4">
                                  <input type="text" class="form-control">
                                  <span class="help-block">Verifique se não existem usuário com esse nome.</span>
                              </div>
                          </div>

                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">Senha</label>
                              <div class="col-sm-4">
                                  <input type="password"  class="form-control" placeholder="">
                                  <span class="help-block">Deve conter letras e números.</span>
                              </div>
                          </div>

                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">Confirmaçao de Senha</label>
                              <div class="col-sm-4">
                                  <input type="password"  class="form-control" placeholder="">
                              </div>
                          </div>

                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">Tipo de Acesso</label>
                              <div class="col-sm-4">
                                   <select class="form-control">
                                   <option>Professor</option>
						           <option>Aluno</option>
						           <option>Recepção</option>
						           <option>Administração</option>
						           </select>
                              </div>
                          </div>

                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">Código</label>
                              <div class="col-sm-4">
                                  <input type="text" class="form-control">
                              </div>
                          </div>

                          <div class="form-group">
                          <div class="col-sm-12">
						    <button type="button" class="col-sm-3 btn btn-primary">Adicionar</button>
                          </div>
                          </div>

                      </form>
                  </div>
          		</div><!-- col-lg-12-->
            </div>
            </section>

         <section id="remover">
		    <div class="row" style="top:60px;position: relative">
          		<div class="col-lg-12">
          		<h2><i class="fa fa-angle-right"></i> Remover</h2>
                  <div class="form-panel">
                      <form class="form-horizontal style-form" method="get">

                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">Nome</label>
                              <div class="col-sm-8">
                                  <input type="text" class="form-control">
                              </div>
                          </div>

                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">Tipo de Acesso</label>
                              <div class="col-sm-4">
                                   <select class="form-control">
                                   <option>Professor</option>
						           <option>Aluno</option>
						           <option>Recepção</option>
						           <option>Administração</option>
						           </select>
                              </div>
                          </div>

                          <div class="form-group">
                          <div class="col-sm-12">
						    <button type="button" class="col-sm-3 btn btn-danger">Remover</button>
                          </div>
                          </div>

                      </form>
                  </div>
          		</div><!-- col-lg-12-->
          </div>
          </section>


         <section id="alterar">
		    <div class="row" style="top:60px;position: relative">
          		<div class="col-lg-12">
          		<h2><i class="fa fa-angle-right"></i> Alterar</h2>
                  <div class="form-panel">
                      <form class="form-horizontal style-form" method="get">

                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">Nome</label>
                              <div class="col-sm-8">
                                  <input type="text" class="form-control">
                              </div>
                          </div>

                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">Email</label>
                              <div class="col-sm-8">
                                  <input type="text" class="form-control">
                              </div>
                          </div>

                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">Usuario</label>
                              <div class="col-sm-4">
                                  <input type="text" class="form-control">
                                  <span class="help-block">Verifique se não existem usuário com esse nome.</span>
                              </div>
                          </div>

                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">Senha</label>
                              <div class="col-sm-4">
                                  <input type="password"  class="form-control" placeholder="">
                                  <span class="help-block">Deve conter letras e números.</span>
                              </div>
                          </div>

                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">Confirmaçao de Senha</label>
                              <div class="col-sm-4">
                                  <input type="password"  class="form-control" placeholder="">
                              </div>
                          </div>

                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">Tipo de Acesso</label>
                              <div class="col-sm-4">
                                   <select class="form-control" id="disabledInput" type="text" placeholder="Disabled input here..." disabled>
                                   <option>Professor</option>
						           <option>Aluno</option>
						           <option>Recepção</option>
						           <option>Administração</option>
						           </select>
                              </div>
                          </div>

                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">Código</label>
                              <div class="col-sm-4">
                                  <input class="form-control" id="disabledInput" type="text" placeholder="Código usuário" disabled>
                              </div>
                          </div>

                          <div class="form-group">
                          <div class="col-sm-12">
						    <button type="button" class="col-sm-3 btn btn-default">Alterar</button>
                          </div>
                          </div>
                      </form>
                  </div>
          		</div><!-- col-lg-12-->
              </div>
          </section>

         </div><!-- / col 12 -->
         </div><!-- / main row -->

      </section>
      </section>

{% endblock %}